<div>

    <button (click)="startQuiz(ques,optiona,optionb,optionc,optiond)">Start Quiz</button>
    <h1 #ques></h1>

    <input type="radio" name="q" id="a" value="a" (change)="radioChangeHandler($event)" #radioa>
    <label for="a" #optiona></label>
    <input type="radio" name="q" id="b" value="b" (change)="radioChangeHandler($event)" #radiob>
    <label for="b" #optionb></label>
    <br><br>
    <input type="radio" name="q" id="c" value="c" (change)="radioChangeHandler($event)" #radioc>
    <label for="c" #optionc></label>
    <input type="radio" name="q" id="d" value="d" (change)="radioChangeHandler($event)" #radiod>
    <label for="d" #optiond></label>
    <br><br>
    <button (click)="prevQuestion(ques)">prev</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="nextQuestion(ques,optiona,optionb,optionc,optiond)">next</button>
    <br><br>
    <button (click)="submitAction()">Submit</button><br><br>
    <h2>{{result}}</h2>
    <button (click)="reviewAction()">Review</button>
    
</div>
